@import url(font-awesome.min.css);  
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,600,600italic");
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);

/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}


/* BOX MODEL */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* BASIC */

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

html, body {
    min-width: 320px;
}
}
    
/* This is the backgorund color of the body but the way the page is built, you can only see it at the end part of the page */

body {
    background-color: #f0f0f0;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}








/* TYPE FONTS */

body, input, select, textarea {
    color: #000;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 14pt;
    }
}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 360px) {

    body, input, select, textarea {
        font-size: 11pt;
    }
}


a {
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
}

article a {
    border-bottom: none;
}

a:hover {
    border-bottom-color: black;
    color: #2a598f;
}

a:active {
    color: #2a598f;
}

strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}


/* FONTS */

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    border-bottom: 0;
}

h1 {
    line-height: 1.45;
    font-size: 2.5em;
}

h2 {
    line-height: 1.4;
    margin: 0 0 .6em 0;
    font-size: 2em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

@media screen and (max-width: 736px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }
}

#footer h3 {
    font-size: 1.5em;
}

#footer h4 {
    font-size: 1em;
    margin: 0 0 .3em 0;
    font-weight: 300;
}

#footer h4:last-of-type {
    margin: 0 0 2.1em 0;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

/* This manages the side line of the blockquote */

blockquote {
    border-left: solid 4px rgba(0, 0, 0, 0.3);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0em 0 0em 2em;
}

code {
    background: rgba(212, 212, 255, 0.035);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
}

/* This is the p of the articles in the home page */

/* this changes the aspect of the font of the author in the articles page */

header.major > p {
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 0;
    padding: 1em;
}

/* Here you set the fonts for the Altman & Berg site title of the main banner */

#banner h1 {
    font-size: 4.25em;
    font-family: "athelas", "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
}

/* amp is for the ampersand symbol in the Altman & Berg logo*/

#banner h1 #amp {
    font-size: 1em;
    font-family: "effra", "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
}

/* this is for the p in the header */

#banner > .inner .content p {
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #fff;
}

#header {
    color: #fff;
}

.articlepage h1, .articlepage h3, .articlepage h4, .articlepage h5, .articlepage h6 {
    color: black;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

/* For the font size should I use points or pixels */

#articletext p {
    font-family: Lora, Cambria, Georgia, serif;
    font-size: 14.6pt;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 1.75;
}

.post-links a {
    font-size: 14.6pt;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 1.75;
}

@media screen and (min-width: 100px) and (max-width: 649px){
    
    #articletext p {
        line-height: 1.55;
    }
}

.articlepage .major h1 {
    text-align: center;
}

.articlepage .major {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

/* This deals with the top padding of the article text, so the padding between the text and the first image */

.inner #articletext {
    padding-top: 2em;
}

/* Here you set the fonts for the title of the top moving header */

#header .logo span {
    font-size: 1.35em;
    font-family: "athelas", "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.025em;
    text-transform: none;
}

#header .logo #amp {
    font-size: 1em;
    font-family: "effra", "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.025em;
}

/* Drop cap */

.dropcap {
    float: left; font-size: 1.9em; line-height: 16.5px; padding-top: 2px; padding-right: 0px; padding-left: 0px;
}

header h1 a:hover { 
    color: white;
}

#header a:hover {
    color: white;   
    text-decoration: underline;
}

.rationality h2 {
    margin-top: 1em;
}

/* This manages the title part of the first article */

header.major {
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;

}

/* This manages the three points in between the article text and the article author */

.divider {
    color: rgba(0,0,0,.6);
    position: relative;
    top: -20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6em;
}

/* ---------------------- END OF FONTS/TYPE ------------------------ */










/* ------- ARTICLEPAGE STUFF ------- */

/* the background color of the article page */

.articlepage {
    background-color: #fff;
}

/* Deals with the background of the articlepage */
#main.alt {
    background-color: transparent;
    border-bottom: solid 1px rgba(212, 212, 255, 0.1);
}

/* Line after the title in the article */
.articlepage header.major > :first-child:after {
    content: '';
    background-color: black;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

/* This affects the first section of the footer where the social links are */

.articlepage #footer {
    background-color: #F2F2F2;
}

/* Put this in a better place */

.articlepage #one {
    border-bottom: solid 1px rgba(0,0,0,0.4);
}








/* textmargin deals with the margin of the title, article info, and text of an article */

/* I'll probably have to deal with this on the media queries */

.textmargin {
    max-width: 65%;
    margin: 0 auto;
}

@media screen and (min-width: 450px) and (max-width: 999px){
        .textmargin {
        max-width: 85%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 100px) and (max-width: 449px){
        .textmargin {
        max-width: 98%;
        margin: 0 auto;
    }
}








/* This deals with the line of the about section and also with the header part of the article pages */

header.major > :first-child {
    margin-bottom: 0;
    width: calc(100% + 0.5em);
}

/* This deals with the line of the banner between the title and tagline */

header.major > :first-child:after {
    
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

/* This manages the line after the header in the about section */

#two header.major > :first-child:after {
    
    content: '';
    background-color: black;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}




/* ------------------------ CONTACT FORM ------------------------- */

/* This deals with the organization of the three boxes of the contact form */

form {
    margin: 0 0 2em 0;
}

form .field {
    margin: 0 0 2em 0;
}

form .field.half {
    width: 50%;
    float: left;
    padding: 0 0 0 1em;
}

form .field.half.first {
    padding: 0 1em 0 0;
}

form > .actions {
    margin: 2.5em 0 0 0 !important;
}

@media screen and (max-width: 736px) {

    form .field {
        margin: 0 0 1.5em 0;
    }

    form .field.half {
        padding: 0 0 0 0.75em;
    }

    form .field.half.first {
        padding: 0 0.75em 0 0;
    }

    form > .actions {
        margin: 2em 0 0 0 !important;
    }
}

@media screen and (max-width: 480px) {

    form .field.half {
        width: 100%;
        float: none;
        padding: 0;
    }

    form .field.half.first {
        padding: 0;
    }
}

/* Here you can modify the background color of the contact form */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 0;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #2a598f;
    box-shadow: 0 0 0 2px #2a598f;  
}


/* this modifies the color of the inside of the contact form */

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
    color: black;
}

/* this modifyies the color of the inside of the message contact form */

textarea {
    padding: 0.75em 1em;
    color: black;
}

/* the following settings modify the color of the words inside the contact form */

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.8) !important;
}

:-moz-placeholder {
    color: rgba(0, 0, 0, 0.8) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.8) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.8) !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: rgba(0, 0, 0, 0.8) !important;
    opacity: 1.0;
}



/* ------------------ SOCIAL MEDIA FOLLOW ICONS -------------------- */

/* This deals with the social media follow icons at the footer */

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}


.icon > .label {
    display: none;
}





/* ----------------------- IMAGES ------------------------ */

/* Main top image of an article */

.image {
    display: block;
    margin: 1em 0 2.5em 0;
    width: 100%;
}

.image img {
    width: 100%;
}

@media screen and (max-width: 736px) {

    .image {
        margin: 1.5em 0;
    }
}


/* ARTICLE IMAGES */

/* These are managing the images inside the articles */


/* imgleft - this makes them float to the left */

@media screen and (min-width: 900px) {

.imgleft img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 20em;
    float: left;
    margin-right: 2em;
    padding-bottom: 2em;
}
}

@media screen and (min-width: 750px) and (max-width: 899px){

.imgleft img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 20em;
    float: none;
    margin-right: 15%;
    margin-left: 15%;
}
}

@media screen and (max-width: 749px) {

.imgleft img {
    text-align: center;
    top: 0;
    left: 0;
    float: none;
    max-width: 100%;
    max-height: 20em;
}
}


/* This makes the img be on the center, but only in laptops, not in tablets and mobile. Only up to 1000px */

@media screen and (min-width: 1000px) {

.imgcenter img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 20em;
    margin-right: 25%;
    margin-left: 25%;
}
}

@media screen and (min-width: 750px) and (max-width: 999px){

.imgcenter img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 20em;
    margin-right: 15%;
    margin-left: 15%;
}
}

@media screen and (max-width: 749px) {

.imgcenter img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 20em;
}
}


/* imgpp - This is for the profile picture of the author at the bottom of the articles */

@media screen and (min-width: 1000px) {

.imgpp img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 8em;
    float: left;
    margin-right: 2em;
    padding-top: 1em;
}
}

@media screen and (min-width: 760px) and (max-width: 999px){

.imgpp img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 8em;
    float: left;
    margin-right: 2em;
    padding-top: 1em;
    margin-bottom: 5em;
}
}

@media screen and (max-width: 759px) {

.imgpp img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 10em;
}
}


/* This is for centered wide picture, when the image itself is wide */

@media screen and (min-width: 10px) {

.imgcenterwide img {
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 20em;
}
}




/* This affects the bottom margin of the images of the articles in the index page */

.imagep img {
    display: block;
}
     



/* Image of the about section */

#two {
    position: relative;
}

#two img {
    height: 17em;
    width:;
    position: absolute;
    bottom: 0;
    right: 0px;
    display: block;
}

@media screen and (max-width: 1000px) {
    #two img {
        height: 16em;
    }
}

@media screen and (max-width: 800px) {
    #two img {
        height: 15em;
    }
}

@media screen and (max-width: 700px) {
    #two img {
        height: 14em;
    }
}

@media screen and (max-width: 630px) {
    #two img {
        display: none;
    }
}


/* -------------------------- END OF IMAGES -------------------------- */





/* -------------------------- ABOUT SECTION -------------------------- */

#two .about {
    padding-right: 14em;
}

@media screen and (max-width: 800px) {
        #two .about {
        padding-right: 12em;
    }
}

@media screen and (max-width: 630px) {
        #two .about {
        padding-right: 0em;
    }
}

/* This is for the rationality/about section */

.rationality {
    background-color: white;
    border-bottom: solid 1px rgba(0,0,0,0.4);
    border-top: solid 1px rgba(0, 0, 0, 0.4);
}






/* BUTTONS */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px black;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

/* The arrow of some buttons: */

input[type="submit"].next,
input[type="reset"].next,
input[type="button"].next,
button.next,
.button.next {
    padding-right: 4.5em;
    position: relative;
}

input[type="submit"].next:before, input[type="submit"].next:after,
input[type="reset"].next:before,
input[type="reset"].next:after,
input[type="button"].next:before,
input[type="button"].next:after,
button.next:before,
button.next:after,
.button.next:before,
.button.next:after {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 36px 24px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 1.5em;
    top: 0;
    vertical-align: middle;
    width: 36px;
}

input[type="submit"].next:before,
input[type="reset"].next:before,
input[type="button"].next:before,
button.next:before,
.button.next:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23000000%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
}

input[type="submit"].next:after,
input[type="reset"].next:after,
input[type="button"].next:after,
button.next:after,
.button.next:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %232a598f%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
    opacity: 0;
    z-index: 1;
}

input[type="submit"].next:hover:after, input[type="submit"].next:active:after,
input[type="reset"].next:hover:after,
input[type="reset"].next:active:after,
input[type="button"].next:hover:after,
input[type="button"].next:active:after,
button.next:hover:after,
button.next:active:after,
.button.next:hover:after,
.button.next:active:after {
    opacity: 1;
}

@media screen and (max-width: 1280px) {

    input[type="submit"].next,
    input[type="reset"].next,
    input[type="button"].next,
    button.next,
    .button.next {
        padding-right: 5em;
    }
}

/* .button.special deals with the menu buttons */

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: #ffffff;
    box-shadow: none;
    color: #242943;
}

input[type="submit"].special:hover, input[type="submit"].special:active,
input[type="reset"].special:hover,
input[type="reset"].special:active,
input[type="button"].special:hover,
input[type="button"].special:active,
button.special:hover,
button.special:active,
.button.special:hover,
.button.special:active {
    background-color: #2a598f;
    color: #fff !important;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    background-color: #2a598f;
}






/* ---------------------------- HEADER ------------------------------ */

/* This makes the header dessapear at appear in the index */

@-moz-keyframes reveal-header {
0% { top: -4em; opacity: 0; }
100% { top: 0; opacity: 1; } }
@-webkit-keyframes reveal-header {
0% { top: -4em; opacity: 0; }
100% { top: 0; opacity: 1; } }
@-ms-keyframes reveal-header {
0% { top: -4em; opacity: 0; } 
100% { top: 0; opacity: 1; } }
@keyframes reveal-header {
0% { top: -4em; opacity: 0; }
100% { top: 0; opacity: 1; } }

/* Top moving header */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: #06426b;
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
    cursor: default;
    font-weight: 600;
    height: 2.5em;
    left: 0;
    letter-spacing: 0.25em;
    line-height: 2.5em;
    margin: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;
}

/* create bigger header for the mobile  phones */ 

/* Does this work well ??? */

@media screen and (max-width: 630px) {
    #header {
        height: 3.25em;
        line-height: 3.25em;   
    }
}

#header .logo {
    border: 0;
    display: inline-block;
    font-size: 0.8em;
    height: inherit;
    line-height: inherit;
    padding: 0 1.5em;
}

#header #lang { 
    letter-spacing: 0.1em;    
}

#header .logo strong {
    margin-right: 0.325em;
    padding: 0 0.125em 0 0.375em;
}

#header nav {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    height: inherit;
    line-height: inherit;
}

#header nav a {
    border: 0;
    display: block;
    font-size: 0.8em;
    height: inherit;
    line-height: inherit;
    padding: 0 0.75em;
    position: relative;
    vertical-align: middle;
}

#header nav a:last-child {
    padding-right: 1.5em;
}

#header nav a[href="#menu"] {
    padding-right: 3.325em !important;
}

#header nav a[href="#menu"]:before, #header nav a[href="#menu"]:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 32px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 1.5em;
    top: 0;
    vertical-align: middle;
    width: 24px;
}

#header nav a[href="#menu"]:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %238F8988%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
    opacity: 0;
    z-index: 1;
}

#header nav a[href="#menu"]:hover:after, #header nav a[href="#menu"]:active:after {
    opacity: 1;
}

#header nav a[href="#menu"]:last-child {
    padding-right: 3.875em !important;
}

#header nav a[href="#menu"]:last-child:before, #header nav a[href="#menu"]:last-child:after {
    right: 2em;
}

#header.alt {
    background-color: transparent;
    box-shadow: none;
    position: absolute;
}

@media screen and (max-width: 1680px) {

    #header nav a[href="#menu"] {
        padding-right: 3.75em !important;
    }

    #header nav a[href="#menu"]:last-child {
        padding-right: 4.25em !important;
    }
}

@media screen and (max-width: 1280px) {

    #header nav a[href="#menu"] {
        padding-right: 4em !important;
    }

    #header nav a[href="#menu"]:last-child {
        padding-right: 4.5em !important;
    }
}

/* Maybe i could use this to make the header bigger for mobile phones */

@media screen and (max-width: 736px) {

    #header {
        height: 2.75em;
        line-height: 2.75em;
    }

    #header .logo {
        padding: 0 1em;
    }

    #header nav a {
        padding: 0 0.5em;
    }

    #header nav a:last-child {
        padding-right: 1em;
    }

    #header nav a[href="#menu"] {
        padding-right: 3.25em !important;
    }

    #header nav a[href="#menu"]:before, #header nav a[href="#menu"]:after {
        right: 0.75em;
    }

    #header nav a[href="#menu"]:last-child {
        padding-right: 4em !important;
    }

    #header nav a[href="#menu"]:last-child:before, #header nav a[href="#menu"]:last-child:after {
        right: 1.5em;
    }
}

@media screen and (max-width: 630px) {
    
    #header .logo span {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    #header nav a[href="#menu"] {
        overflow: hidden;
        padding-right: 0 !important;
        text-indent: 5em;
        white-space: nowrap;
        width: 5em;
    }

    #header nav a[href="#menu"]:before, #header nav a[href="#menu"]:after {
        right: 0;
        width: inherit;
    }

    #header nav a[href="#menu"]:last-child:before, #header nav a[href="#menu"]:last-child:after {
        width: 4em;
        right: 0;
    }
}





/* ---------------------------- BANNER --------------------------- */

#banner {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    /* /background-image: url("../images/"); */
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 6em 0 2em 0 ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0 !important;
    cursor: default;
    height: 60vh;
    margin-bottom: -3.25em;
    max-height: 32em;
    min-height: 22em;
    position: relative;
    top: -3.25em;
}
        
/* here is the color for the overlay of the banner */
#banner:after {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background-color: #06426b;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner > .inner {
    padding: 0 !important;
    position: relative;
    z-index: 2;
}

#banner > .inner header > :first-child {
    width: auto;
}

#banner > .inner .content {
    margin: 0 0 2em 0;
}

/* Here you set the height of the banner, which is the blue header with the title and tagline */

#banner.major {
    height: 60vh;
    min-height: 10em;
    max-height: 50em;
}

@media screen and (max-width: 736px) {
    
    #banner h1 {
        font-size: 2em;
    }

    #banner {
        padding: 5em 0 1em 0 ;
        height: auto;
        margin-bottom: -2.75em;
        max-height: none;
        min-height: 0;
        top: -2.75em;
    }
    
    #banner.major {
        height: auto;
        min-height: 0;
        max-height: none;
    }
}

@media screen and (max-width: 480px) {

    #banner.major {
        padding: 8em 0 4em 0 ;
    }    
}

/* Here you set the height of the banner page of the message page */

#banner.ma {
    height: 40vh;
    min-height: 10em;
    max-height: 30em;
} 

/* Here you set the height of the banner page of the columnists page */

#banner.authors {
    height: 50vh;
    min-height: 10em;
    max-height: 30em;
} 









/* Main */ 

#main {
    background-color: #f0f0f0;
}

#main > *:first-child {
    border-top: 0;
}

/* Deals with the about section */
#main > * > .inner {
    padding: 1.5em 0em 2.5em 0 ;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

@media screen and (max-width: 736px) {

    #main > * > .inner {
        padding: 2em 0 2em 0 ;
        width: calc(100% - 3em);
    }
}









/* Wrapper */

#wrapper {
    padding-top: 3.25em;
}


#wrapper > * > .inner {
    padding: 4em 0 2em 0 ;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

@media screen and (max-width: 736px) {

    #wrapper > * > .inner {
        padding: 3em 0 1em 0 ;
        width: calc(100% - 3em);
    }
}

@media screen and (max-width: 736px) {

    #wrapper {
        padding-top: 2.75em;
    }
}





/* ------------------------ MENU -------------------------- */

/* All about the menu button */

#menu {
    -moz-transition: -moz-transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
    -webkit-transition: -webkit-transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
    -ms-transition: -ms-transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
    transition: transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    /* this for the color overlay of the menu */
    background: rgba(36, 41, 67, 0.3);
    box-shadow: none;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3em 2em;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10002;
}

#menu .inner {
    width: 18em;
}

#menu ul {
    margin: 0 0 1em 0;
    color: #fff;
}

#menu ul.links {
    list-style: none;
    padding: 0;
}

#menu ul.links > li > .button {
    display: block;
    margin: 0.5em 0 0 0;
}

#menu .close {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    height: 4em;
    line-height: 4em;
    overflow: hidden;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    text-indent: 8em;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;
    width: 8em;
}

#menu .close:before, #menu .close:after {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
    width: 4em;
}

#menu .close:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25px' height='25px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
}

#menu .close:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25px' height='25px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23000000%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
    opacity: 0;
}

body.is-menu-visible #wrapper {
    -moz-filter: blur(0.5em);
    -webkit-filter: blur(0.5em);
    -ms-filter: blur(0.5em);
    filter: blur(0.5em);
}

body.is-menu-visible #menu {
    -moz-pointer-events: auto;
    -webkit-pointer-events: auto;
    -ms-pointer-events: auto;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}





/* ---------------------- PAGINATION BUTTONS ----------------------- */

/* There are some 'footer.major' media quieres from the Polymorph files that are missing here. Be aware. */

/* Deals with the pagination button under the articles */


footer.major {
    text-align: center;
}

ul.pagination {
    display: inline-flex;
    list-style: none;
    padding: 0;
    border: solid 1px black;
    margin: 0 auto; 1.75em auto;
    cursor: default;
    text-align: center;
}

ul.pagination li {
    padding: 0;
}

ul.pagination li a, ul.pagination li span {
    position: relative;
    border-left: solid 1px;
    display: inline-block;
    font-size: 0.8em;
    min-width: 3.78125em;
    height: 3.4375em;
    line-height: 3.4375em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.075em;
    text-decoration: none;
    border-bottom: 0;
}

ul.pagination li .next, ul.pagination li .previous {
    text-decoration: none;
    padding: 0 2.1875em;
}

ul.pagination li .next:before, ul.pagination li .previous:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.pagination li .next:before, ul.pagination li .previous:before {
    display: inline-block;
    line-height: 3.63945em;
    color: inherit !important;
}

ul.pagination li .previous:before {
    content: '\f053';
    margin-right: 0.9375em;
}

ul.pagination li .next:before {
    content: '\f054';
    float: right;
    margin-left: 0.9375em;
}







/* ---------------------------- FOOTER ------------------------------- */


#footer > .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 72em;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#footer > .inner > section {
    padding: 2.75em 2.75em 1em 2.75em ;
    -ms-flex: 1;
    width: 100%;
}

/* these next 2 manages the center vertical line and lower horizontal line of the footer */

@media screen and (min-width: 670px) {
    
    #footer > .inner > section:nth-child(2n - 1) {
        border-right: solid 1px rgba(0,0,0,0.4);
    }
}

#footer > .copyright {
    border-top: solid 1px rgba(0,0,0,0.4);
    padding: 1.2em 2.75em 1.2em 2.75em;
    text-align: center;
}

#footer > .copyright > :last-child {
    margin-bottom: 0;
}

#footer > .copyright p {
    color: #aaaaaa;
    font-size: 0.7em;
}

@media screen and (max-width: 980px) {

    #footer > .inner > section {
        padding: 2.75em 2em 1em 2em ;
    }

    #footer > .copyright {
        padding: 1.5em 2em 1.5em 2em;
    }
}

@media screen and (max-width: 736px) {

    #footer > .inner > section {
        padding: 2em 1em 0.25em 1em ;
    }

    #footer > .copyright {
        padding: 1.5em 1em;
    }
}

@media screen and (max-width: 670px) {

    #footer > .inner {
        padding: 2em 1em 0.25em 1em ;
        display: block;
    }

    #footer > .inner > section {
        padding: 0;
        border-left: 0 !important;
    }
}







/* ------------- SOCIAL MEDIA FOLLOW BUTTONS, facebook, twitter, instagram and youtube ------------ */

/* These are the ul.icons from the Polymorph theme */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

/* What is this style2 thing ??? */

ul.icons.style2 li {
    font-size: 1.35em;
    padding: 0 0.5em 0 0;
}

ul.icons.style2 li a {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: inline-block;
    border-radius: 100%;
    width: 2.125em;
    height: 2.125em;
    line-height: 2.125em;
    text-align: center;
    background-color: #404040;
    color: #ffffff !important;
    border-bottom: none;
    text-decoration: none;
}

ul.icons.style2 li a:hover {
    background-color: #4d4d4d;
}

ul.icons.style2 li a:active {
    background-color: #333333;
}

ul.icons.style2 li a:before {
    color: inherit !important;
}

ul.icons.style2 li a.fa-twitter {
    background-color: #00aced;
    color: #ffffff !important;
}

ul.icons.style2 li a.fa-twitter:hover {
    background-color: rgba(0, 172, 237, 0.5);
}

ul.icons.style2 li a.fa-twitter:active {
    background-color: rgba(0, 172, 237, 0.9);
}

ul.icons.style2 li a.fa-facebook {
    background-color: rgb(59, 89, 152);
    color: #ffffff !important;
}

ul.icons.style2 li a.fa-facebook:hover {
    background-color: rgba(59, 89, 152, 0.6);
}

ul.icons.style2 li a.fa-facebook:active {
    background-color: rgba(59, 89, 152, 0.9);
}

ul.icons.style2 li a.fa-instagram {
    background-color: rgb(81, 127, 164);
    color: #ffffff !important;
}

ul.icons.style2 li a.fa-instagram:hover {
    background-color: rgba(81, 127, 164, 0.6);
}

ul.icons.style2 li a.fa-instagram:active {
    background-color: rgba(81, 127, 164, 0.9);
}

ul.icons.style2 li a.fa-youtube {
    background-color: rgb(187, 0, 0);
    color: #ffffff !important;
}

ul.icons.style2 li a.fa-youtube:hover {
    background-color: #eb9999;
}

ul.icons.style2 li a.fa-youtube:active {
    background-color: #e36f6f;
}








/* ----------- POLYMORPH ARTICLES STYLES ------------------- */


@media screen and (max-width: 480px) {

    section.special, article.special {
        text-align: left;
    }
}

header {
    cursor: default;
}

header.major > :last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 736px) {

header.major {
    margin: 0 0 1.75em 0;
}

header.major h2 {
    font-size: 1.35em;
}
}

@media screen and (max-width: 480px) {

header.major {
    text-align: left;
}
}






/* The ul.meta are the the date, author and min read information for each article in the index page */

ul.meta {
    cursor: default;
    list-style: none;
    padding: 0;
}

ul.meta li {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 0.075em;
    margin: 0 0 0.875em 0;
    border-left: solid 1px;
    padding: 0 0 0 1.25em;
    margin: 0 0 0 1.25em;
    line-height: 1;
}

@media screen and (min-width: 100px) and (max-width: 950px){
    
ul.meta li {
    padding: 0 0 0 .5em;
    margin: 0 0 0 .25em;
}
}

ul.meta li a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0;
    text-decoration: none;
}

ul.meta li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.meta li a:before {
    margin-right: 0.65em;
}

ul.meta li a.favorites:before {
    content: '\f08a';
}

ul.meta li a.comments:before {
    content: '\f0e5';
}

ul.meta li:first-child {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
}

/* Here is the line under the date and min read of each article in the home page */

h1 + ul.meta, h2 + ul.meta, h3 + ul.meta, h4 + ul.meta, h5 + ul.meta, h6 + ul.meta {
    margin: -0.6125em 0 0.75em 0;
    border-bottom: solid 1px #d1d1d1;
}







/* The class .actions deals with the apperance of the buttons of 'sign up for the newsletter' or 'send message', etc */
/* If i want a link to make it look like this i just add the actions class */

#two .actions li {
    border-color: black;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}


@media screen and (max-width: 480px) {

    ul.actions {
        margin: 0 0 1.75em 0;
    }

    ul.actions li {
        padding: 0.875em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    ul.actions li:first-child {
        padding-top: 0;
    }

    ul.actions li > * {
        width: 100%;
        margin: 0 !important;
    }

    ul.actions li > *.icon:before {
        margin-left: -2em;
    }
    
/* What is this small thing ??? */

    ul.actions.small li {
        padding: 0.4375em 0 0 0;
    }

    ul.actions.small li:first-child {
        padding-top: 0;
    }
}









/* POSTS */

/* This manages the way the articles look in the articles area in the index page */

.posts {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.posts > article {
    width: 33.33333%;
    border-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    padding: 2.75em;
    padding-bottom: 2em;
}

.posts > article .imagep {
    margin: -1.375em 0 1.125em -1.375em;
    display: block;
    position: relative;
    width: calc(100% + 2.75em);
}

.posts > article .imagep img {
    width: 100%;
}

.posts > article > :last-child {
    margin-bottom: 0;
}

.posts > article > :last-child > :last-child {
    margin-bottom: 0;
}

.posts > article:nth-child(3n) {
    border-right-width: 0;
}

.posts > article:nth-last-child(1), .posts > article:nth-last-child(2), .posts > article:nth-last-child(3) {
    border-bottom-width: 0;
}

@media screen and (max-width: 1280px) {

    .posts > article {
        width: 50%;
    }

    .posts > article:nth-child(2n) {
        border-right-width: 0;
    }

    .posts > article:nth-child(3n) {
        border-right-width: 1px;
    }

    .posts > article:nth-last-child(3) {
        border-bottom-width: 1px;
    }
}

@media screen and (max-width: 980px) {

    .posts > article {
        padding: 2.75em 2em;
    }

    .posts > article .imagep {
        margin: -1.375em 0 0.8375em -1em;
        width: calc(100% + 2em);
    }

}

@media screen and (max-width: 736px) {

    .posts > article {
        padding: 1em 1em 2em 1em;
    }

    .posts > article .imagep {
        margin: 0 0 1.05em 0;
        width: 100%;
    }
}

@media screen and (max-width: 570px) {

    .posts > article {
        width: 100%;
        border-right-width: 0 !important;
    }

    .posts > article:nth-last-child(2) {
        border-bottom-width: 1px;
    }
}

.posts > article {
    border-color: #dbdbdb;
}






    



/* Main */

#main > .main {
    border-bottom: solid 1px #dbdbdb;
}

#main > .main > .inner {
    padding: .4em 2.75em 3.25em 2.75em ;
    max-width: 72em;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {

    #main > .main > .inner {
        padding: 2em 2em 2.25em 2em ;
    }
}

@media screen and (max-width: 736px) {

    #main > .main > .inner {
        padding: 2em 1em 0.25em 1em ;
    }
}