---  
layout:  default
---
<!--
<main role="main" class="cf">
<article class="posts">
-->

<div id="wrapper" class="mainpage">
    
    
    
    <!-- Header --> <!-- from index -->
        <header id="header" class="alt">
            <a href="{{site.baseurl}}index" class="logo"><strong></strong><span>Altman <span id="amp">&amp;</span> Berg</span></a>
            <nav>
                <a href="http://frontmesh.com" class="logo" id="lang">English</a>
                <a href="http://es.frontmesh.com" class="logo" id="lang">Español</a>
                <a href="#menu">&nbsp;Menu</a>
            </nav>
        </header>
            <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{{site.baseurl}}index">Portada</a></li>
                <li><a href="{{site.baseurl}}tags/index">Archivo</a></li>
                <li><a href="#contact">Contacto</a></li>
                <li><a href="elements.html">English</a></li>
                <li><a href="elements.html">Español</a></li>
            </ul>
            <ul class="actions vertical">
                <li><a href="#" class="button special fit">Newsletter</a></li>
            </ul>
        </nav>
        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1><a href="{{site.baseurl}}index">Altman <span id="amp">&amp;</span> Berg</a></h1>
                </header>
                <div class="content">
                    <p>{{site.tagline}}</p>
                </div>
            </div>
        </section>
    
    
    
    <div id="main">                
    <section class="main">
    <div class="posts">
    
{% for post in paginator.posts %}
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
        <a href="{{post.url}}" class="imagep"><img src="{{site.baseurl}}{{post.img}}"></a>
        <header>
            <h2><a href="{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">
                {{post.title}}</a></h2>
            <ul class="meta">
            <li><time itemprop="dateCreated" datetime="{{post.date}}">
                {{post.date | date:"%B %-d, %Y"}}</time></li>
            <li>{{post.minread}} min read</li>
            <li>{{post.author}}</li>
            </ul>
        </header>
        <p><a href="{{post.url}}" title="read more" class="more">{{post.excerpt | strip_html}}</a></p>
        <!-- <footer>
        <p>Posted in {% for tag in post.tags %}<a href="{{site.baseurl}}/tags/index.html#{{ tag | cgi_escape}}" title="posts tagged" rel="tag">{{tag}}</a>{% unless forloop.last %},{% endunless %} {% endfor %}</p> 
     </footer> -->
    </article>
    {% endfor %}
                             
    </div>
    </section>
    </div>
           
    
        <div id="main">
        <section id="two">
        <div class="inner">
        <footer class="major">
        <ul class="pagination">
                        
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <li><a href="{{site.baseurl}}" class="previous">Previos Articulos</a></li>
            {% else %}
            <li><a href="{{site.baseurl}}blog/page{{paginator.previous_page}}" class="previous">Previos Articulos</a></li>
            {% endif %}
            {% endif %}
            <li><span class="extra">&hellip;</span></li>
            {% if paginator.next_page %}
            <li><a href="{{site.baseurl}}blog/page{{paginator.next_page}}" class="next">Próximos Articulos</a></li>
            {% endif %}
    
        </ul>
        </footer>
        </div>                      
        </section>
        
    
    
    
    <section id="two" class="rationality">
                    <div class="inner">
                        <header class="major">
                           
                            <!-- <h2>Objetivo de Altman &amp; Berg</h2> -->
                            <h2>Marketing para la Industria del Vino</h2>
                            
                        </header>
                        <p>El propósito de Altman & Berg es brindar información y estrategias de marketing B2B que generen crecimiento<br> comercial en la industria vitivinícola.</p>
                        <p>Gaspar Lobato Grinberg se desempeña como periodista para Altman & Berg. Durante su carrera profesional ha<br> ejecutado acciones de marketing que han generado crecimiento de operaciones comerciales en diferentes<br> industrias. Para conocer más sobre él puede visitar su <a href="http://gasparg.com/es">sitio web personal</a>.</p>
                        <!-- <p>El propósito de Altman &amp; Berg es publicar información sobre marketing de empresa a empresa (B2B) para la industria del vino. Los artículos ofrecen estudios de mercado, análisis cruzados entre industrias, estrategias de marketing, y observaciones de diversos profesionales de la industria. Los lectores habituales son en su mayoría profesionales de bodegas involucrados en operaciones de ventas y marketing.</p> -->
                        <ul class="actions">
                            <li><a href="landing.html" class="button next">Newsletter</a></li>
                        </ul>
                    </div>
                    <img src="images/gaspar_web_22.png">
                </section>
            
            </div>
    
    
    <!-- Footer --> 

            <footer id="footer" >
                <div class="inner">
                    <section>
                        
                        <!-- <h2><a name="contact">Altman &amp; Berg en las Redes Sociales</a></h2> -->
                        <h3>Seguí a Altman &amp; Berg en las redes sociales para mantenerte al día con la información más reciente</h3>
                        
                        <!-- <p>Para estar informado sobre las diversas acciones comerciales de la industria, seguí a Altman & Berg en tus redes sociales preferidas. Así sabras cuando se publiquen nuevos artículos y además podrás ver información adicional de otras publicaciones y fuentes.</p> -->
                        <ul class="icons style2">
                            <li><a href="https://twitter.com/altmanberg" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/altmanberg2/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://www.instagram.com/Altman_Berg/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="https://www.youtube.com/channel/UCYJd8LR9xvAdL6BYC6WDP4A" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
                        </ul>
                    </section>


                    <section>
                        <form method="post" action="https://formspree.io/altmanberg@gmail.com">
                            <div class="field half first">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                            <div class="field half">
                                <input type="email" name="email" id="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" /></li>
                            </ul>
                            <input type="hidden" name="_next" value="{{site.baseurl}}mensaje" />
                        </form>
                    </section>
                </div>
                <div class="copyright">
                    <p>&copy; 2016 {{site.title}}</p>
                </div>
            </footer>
    
    
    </div>
    
    <!--
    </article>
</main>
-->
